<html>
    <head>
        <!-- NOTE: You should definitely host this yourself! (and you can adjust the style that way, too!) -->
        <link rel="stylesheet" href="https://cdn.jsdelir.net/gh/janishutz/oidclogin/public/style.css">
    </head>
    <body>
        <h1>401</h1>
        <p>You are not authorized to view this page. Please log in</p>
        <a href="/">Back Home</a>
    </body>
</html>
