<html>
    <head>
        <!-- NOTE: You should definitely host this yourself! (and you can adjust the style that way, too!) -->
        <link rel="stylesheet" href="https://cdn.jsdelir.net/gh/janishutz/oidclogin/public/style.css">
    </head>
    <body>
        <h1>500</h1>
        <p>Login Failed!</p>
        <a href="/">Back Home</a>
        <p class="error-msg">{{ .error }}</p>
    </body>
</html>
